AMAZONES_STELLAR_CONFIG_DIR=deployments/testnet/.config/stellar
AMAZONES_STELLAR_NETWORK=testnet
AMAZONES_RPC_URL=https://soroban-testnet.stellar.org
AMAZONES_NETWORK_PASSPHRASE='Test SDF Network ; September 2015'
AMAZONES_DEPLOYER_IDENTITY=amazones-deployer
AMAZONES_ADMIN_IDENTITY=amazones-admin
AMAZONES_ALIAS_PREFIX=amazones
AMAZONES_CHALLENGE_PERIOD=172800
AMAZONES_COLLATERAL_ASSET=
AMAZONES_MARKET_ID_HEX=
